* text=auto !eol
bin/autogen.exe -text
bin/msys-1.0.dll -text
bin/msys-crypt-0.dll -text
bin/msys-gmp-10.dll -text
bin/msys-guile-17.dll -text
bin/msys-iconv-2.dll -text
bin/msys-intl-8.dll -text
bin/msys-ltdl-7.dll -text
bin/msys-opts-25.dll -text
bin/msys-regex-1.dll -text
share/autogen/aginfo.tpl -text
share/autogen/aginfo3.tpl -text
share/autogen/agman-lib.tpl -text
share/autogen/agman1.tpl -text
share/autogen/agman3.tpl -text
share/autogen/autoopts.m4 -text
share/autogen/confmacs.tpl -text
share/autogen/conftest.tpl -text
share/autogen/fsm-macro.tpl -text
share/autogen/fsm-trans.tpl -text
share/autogen/fsm.tpl -text
share/autogen/getopt.tpl -text
share/autogen/libopts-33.2.8.tar.gz -text
share/autogen/optcode.tpl -text
share/autogen/opthead.tpl -text
share/autogen/options.tpl -text
share/autogen/optlib.tpl -text
share/autogen/optmain.tpl -text
share/autogen/rc-sample.tpl -text
share/autogen/stdoptions.def -text
share/autogen/usage.tpl -text
share/guile/ice-9/ChangeLog-2008 -text
share/guile/ice-9/Makefile.am -text
share/guile/ice-9/Makefile.in -text
share/guile/ice-9/README -text
share/guile/ice-9/and-let-star.scm -text
share/guile/ice-9/boot-9.scm -text
share/guile/ice-9/buffered-input.scm -text
share/guile/ice-9/calling.scm -text
share/guile/ice-9/channel.scm -text
share/guile/ice-9/common-list.scm -text
share/guile/ice-9/compile-psyntax.scm -text
share/guile/ice-9/debug.scm -text
share/guile/ice-9/debugger.scm -text
share/guile/ice-9/debugger/command-loop.scm -text
share/guile/ice-9/debugger/commands.scm -text
share/guile/ice-9/debugger/state.scm -text
share/guile/ice-9/debugger/trc.scm -text
share/guile/ice-9/debugger/utils.scm -text
share/guile/ice-9/debugging/example-fns.scm -text
share/guile/ice-9/debugging/ice-9-debugger-extensions.scm -text
share/guile/ice-9/debugging/steps.scm -text
share/guile/ice-9/debugging/trace.scm -text
share/guile/ice-9/debugging/traps.scm -text
share/guile/ice-9/debugging/trc.scm -text
share/guile/ice-9/deprecated.scm -text
share/guile/ice-9/documentation.scm -text
share/guile/ice-9/emacs.scm -text
share/guile/ice-9/expect.scm -text
share/guile/ice-9/format.scm -text
share/guile/ice-9/ftw.scm -text
share/guile/ice-9/gap-buffer.scm -text
share/guile/ice-9/gds-client.scm -text
share/guile/ice-9/gds-server.scm -text
share/guile/ice-9/getopt-long.scm -text
share/guile/ice-9/hcons.scm -text
share/guile/ice-9/history.scm -text
share/guile/ice-9/lineio.scm -text
share/guile/ice-9/list.scm -text
share/guile/ice-9/ls.scm -text
share/guile/ice-9/mapping.scm -text
share/guile/ice-9/match.scm -text
share/guile/ice-9/networking.scm -text
share/guile/ice-9/null.scm -text
share/guile/ice-9/occam-channel.scm -text
share/guile/ice-9/optargs.scm -text
share/guile/ice-9/poe.scm -text
share/guile/ice-9/popen.scm -text
share/guile/ice-9/posix.scm -text
share/guile/ice-9/pretty-print.scm -text
share/guile/ice-9/psyntax.pp -text
share/guile/ice-9/psyntax.ss -text
share/guile/ice-9/q.scm -text
share/guile/ice-9/r4rs.scm -text
share/guile/ice-9/r5rs.scm -text
share/guile/ice-9/rdelim.scm -text
share/guile/ice-9/receive.scm -text
share/guile/ice-9/regex.scm -text
share/guile/ice-9/runq.scm -text
share/guile/ice-9/rw.scm -text
share/guile/ice-9/safe-r5rs.scm -text
share/guile/ice-9/safe.scm -text
share/guile/ice-9/serialize.scm -text
share/guile/ice-9/session.scm -text
share/guile/ice-9/slib.scm -text
share/guile/ice-9/stack-catch.scm -text
share/guile/ice-9/streams.scm -text
share/guile/ice-9/string-fun.scm -text
share/guile/ice-9/syncase.scm -text
share/guile/ice-9/test.scm -text
share/guile/ice-9/threads.scm -text
share/guile/ice-9/time.scm -text
share/guile/ice-9/weak-vector.scm -text
